
#header_logo
{
    width:100%; 
    margin-bottom: 20px;   
    margin: auto;
    text-align: center;
    border: solid 1px red;
}
.header_logo1
{
    width:60%;
    border: solid 1px red;
    background-color: green;
}