@charset "UTF-8";
/*paramètres généraux*/
/* No CSS */
@font-face {
  font-family: 'https://fonts.google.com/share?selection.family=Roboto:wght@500';
  src: url("https://fonts.google.com/share?selection.family=Roboto:wght@500");
}

/*couleur*/
#header_logo {
  width: 100%;
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
  background-color: aqua;
  border: solid 1px red;
}

.header_logo1 {
  width: 60%;
  border: solid 1px red;
}

/*footer*/
footer {
  margin-top: 40px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid red;
  background-color: pink;
  color: white;
}

.footer_logo {
  margin: 10px 0 10px 0;
}

.footericone {
  margin-right: 15px;
}

.footer_text {
  margin-bottom: 5px;
}

body {
  width: 98%;
  margin: 0;
  font-family: Roboto,'Times New Roman', Times, sans-serif;
  border: solid 1px red;
}

#bloc_page {
  width: 100%;
  margin: auto;
  border: solid 1px red;
}

/*loader*/
.loadingspinner {
  display: none;
  border: 1px grey solid;
  width: 226px;
  height: 162px;
  font-size: 2rem;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  /* centrage page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

/*animation loader*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate 360deg;
            transform: rotate 360deg;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate 360deg;
            transform: rotate 360deg;
  }
}

/* header */
.reservation {
  width: 100%;
  background-color: #f2f2f2;
  font-family: roboto;
}

.reservation_search {
  width: 100%;
  margin: 10px 0 10px 0;
  height: 30px;
  background-color: #cec7c7;
  border: solid 1px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation__titre {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.reservation_input {
  width: 110px;
  background-color: #cec7c7;
  border: none;
}

.reservation_icones {
  margin-right: 10px;
}

.header_reserv {
  width: 100%;
  font-size: medium;
  border: solid 1px red;
}

.reservation {
  font-size: 1.3rem;
  text-align: left;
  font-family: shrikhand;
}

.reservation_découverte {
  width: 100%;
  text-align: center;
  border: solid 1px red;
}

.reservation_boutonexplorer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.bouton_explorer, .bouton_commander {
  width: 215px;
  height: 45px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(37deg, #FF79DA, #9356DC);
  margin-bottom: 50px;
  border: solid 1px red;
}

h2 {
  width: 60%;
  border: solid 1px red;
}

header div a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: block;
}

.reservation_fonctionnementbouton {
  width: 80%;
  max-width: 400px;
  height: 40px;
  text-align: center;
  margin: 10px;
  background: color #f2f2f2;
  border: grey solid 1px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation_fonctionnement_number {
  width: 20px;
  color: white;
  font-size: large;
  background-color: #9356DC;
  text-align: center;
  border-radius: 100%;
  margin-left: -6px;
  font-size: 0.9rem;
  font-weight: 100;
}

.reservation_boutonchoisir {
  width: 85%;
  max-width: 250px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid red;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-left: 0;
  margin: auto;
  margin-bottom: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}

.reservation_boutonchoisir:hover {
  background: #e4d5f6;
}

.reservation_fonctionicone {
  margin: 0 15px 0 15px;
}

.restaurants {
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  border: 1px solid red;
}

.cardrestaurants__images {
  width: 100%;
  margin: 0%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cardrestaurant__nouveau {
  width: 7%;
  display: block;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  width: 25%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  bottom: -6rem;
  left: 15rem;
}

figure {
  margin: 0%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid red;
}

h3 {
  margin: 5px 0 0 0;
}

.restaurants_images_texte {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_title {
  margin-top: 40px;
}

.restaurant_images_figcaption {
  width: 70%;
  margin-left: 5px;
  font-size: 1.1em;
  border: 1px solid red;
}

.restaurants_coeur {
  width: 30%;
  text-align: center;
  border: 1px solid red;
}

section div p {
  margin: 0%;
}

.lecoeur {
  font-size: 1.5rem;
}

.lecoeur:hover {
  color: violet;
  background-color: violet;
}

section div a {
  text-decoration: none;
  color: black;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0 0;
  border: solid 1px red;
  margin-top: -50px;
  margin-bottom: -20px;
  overflow: overlay;
}

figure {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.carddesrestaurants_images {
  width: 100%;
  margin: 0;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FF79D9;
}

.nomrestaurant_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-bottom: -25px;
}

.menutitre {
  width: 70%;
  font-family: shrikhand;
  font-size: 1.4rem;
  text-align: left;
}

.lecoeur {
  text-align: center;
  margin-left: 10px;
}

.entrée_descriptif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  border: solid 1px red;
  border-radius: 17px;
}

.menu--titres {
  font-family: roboto;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-decoration: underline #99E2D0 0.5rem;
          text-decoration: underline #99E2D0 0.5rem;
}

.menu--nomsplats {
  font-size: 1rem;
  padding-left: 5px;
  font-weight: 600;
}

.menu--description {
  font-size: 0.7rem;
  padding-left: 5px;
  font-weight: 200;
}

.entrée_noms {
  width: 75%;
  border: solid 1px red;
}

.menu--prix {
  width: 24%;
  font-weight: 600;
  text-align: center;
  border: solid 1px red;
}

.boutoncommander {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 730px) {
  body {
    width: 90%;
    margin: 0;
    border: solid 1px red;
  }
  #bloc_page {
    width: 80%;
    margin: auto;
    border: solid 1px red;
  }
  .reservation_fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reservation_boutonchoisir {
    width: 28%;
  }
  h2 {
    width: 100%;
  }
  .restaurants_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  section div a {
    width: 45%;
    margin-bottom: 15px;
  }
  section div a figure {
    width: 100%;
  }
  .reservation_boutonexplorer {
    height: 50px;
  }
  .cardrestaurant__nouveau {
    display: block;
    border: 1px solid #99E2D0;
    background: #99E2D0;
    width: 25%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    bottom: 6rem;
    left: 20rem;
  }
}
/*# sourceMappingURL=styles2.css.map */